html {
    body {
        min-width: 320px;
        overflow-x: hidden;
        .wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            nav ul li { @include inline-block; }
            input, button { outline: none; }
            button { border: none; }
            header { flex: 0 0 auto; }
            footer { flex: 0 0 auto; }
            main { flex: 1 0 auto; }
            a { text-decoration: none; }
            ul {
                margin: 0;
                padding: 0;
                li { list-style-type: none; }
            }
            .valign {
                display: flex;
                align-items: center;
            }
            .truncate {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .container {
                margin: 0 auto;
                max-width: 1440px;
            }
            @include media(phone) { .container { width: calc(#{$container} - 10%); } }
            @include media(tablet) { .container { width: calc(#{$container} - 15%); } }
            @include media(laptop) { .container { width: calc(#{$container} - 30%); } }
            @include media(desktop) { .container { width: calc(#{$container} - 35%); } }
            @include media(large) { .container { width: calc(#{$container} - 40%); } }
            #preloader {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 999;
                position: fixed;
                .spinner {
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    position: absolute;
                }
            }
        }
    }
}