// global variables
$browser-context: 16;
$padding: 24px 0;
$time: .1s;

// colors
$secondary: #FAFBFC;
$primary: #24292E;
$border: #E1E4E8;
$white: #FFF;

// media queries
$phone: 768px;
$tablet: 1024px;
$laptop: 1200px;
$desktop: 1440px;
$container: 100%;

// font
$bold: 'rubik bold';
$light: 'rubik light';
$regular: 'rubik regular';