@font-face {
 	font-family: 'rubik bold';
    src: url(../fonts/rubik-bold.ttf);
}
@font-face {
 	font-family: 'rubik light';
    src: url(../fonts/rubik-light.ttf);
}
@font-face {
 	font-family: 'rubik regular';
    src: url(../fonts/rubik-regular.ttf);
}