<footer id="footer" class="footer">
    <div class="container">
        <p>footer</p>
        
        <!-- social -->
        <div class="social">
            <a href="https://facebook.com" target="_blank"></a>
            <a href="https://twitter.com" target="_blank"></a>
            <a href="https://github.com" target="_blank"></a>
            <a href="https://linkedin.com" target="_blank"></a>
            <a href="https://instagram.com/mysecondspace" target="_blank"></a>
        </div>
        
        <!-- copyright -->
        <div id="copyright">
            <a href="https://clocklab.design/ru/" target="_blank" title="site developed by Clock Creative Lab">
                <div data-translate="textContent">site developed by</div>
                <img alt="site developed by Clock Creative Lab" src="https://clocklab.design/clock.png" hspace="8" vspace="6">
            </a>
        </div>
    </div>
</footer>